<body>
  <div class="modal-dialog position-absolute top-50 start-50 translate-middle" role="document" >
    <div class="modal-content rounded-2 shadow p-3 mb-2 bg-transparent  text-center"  style='height : 50%;'>
      <div class="modal-header p-5 pb-4 justify-content-center border-bottom-0">
        
        <h2 class="fw-bold mb-0 text-center">Inscription</h2>
        
      </div>

      <div class="modal-body p-5 pt-0">
        <form action= <%= user_index_path %> method="POST"  class="form">
          
          <div class="form-group mb-2">
            <p class="text-uppercase">Prenom</p>
            <input name="first_name" type="first_name" class="form-control rounded-2" >
            
          </div>
           <div class="form-group mb-2">
              <p  class="text-uppercase">Nom</p>
            <input name="last_name" type="last_name" class="form-control rounded-4"  >
            
          </div>
          <div class="form-group mb-2">
            <p  class="text-uppercase">Email</p>
            <input name="email" type="email" class="form-control rounded-4"  >
           
          </div>
            <div class="form-group mb-2">
            <p class="text-uppercase">Password</p>
            <input name="password"type="password" class="form-control rounded-4"  >
           
          </div>
          <label name="city" class="form-label text-uppercase">Ville</label>
            
            <select class="form-select" name="city" id="country" required="">
              <option value="">Choose...</option>
              <option>Paris</option>
              <option>Lyon </option>
              <option>Toulouse</option>
              <option>Rennes</option>
              <option>Marseille</option>
              <option>Lille</option>
              <option>Perpignan</option>
              <option>Strasbourg</option>
              <option>Bordeaux</option>
            </select>
          <button class="w-100 mt-4  btn btn-lg rounded-4 btn-primary"  type="submit">Rejoindre</button>
        
        </form>
      </div>
    </div>
  </div>
